
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.idea
outputs
foodb/extra
relevance_filter/trained_models

extractors/butter/bert_crf_e1000
neuralcoref_local
inputs/
/outputs_new/
trained_models/
