absl-py==0.10.0
aiohttp==3.6.3
altair==4.1.0
argh==0.26.2
argon2-cffi==20.1.0
astor==0.8.1
astropy==4.2
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.2.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.9.3
bleach==3.2.1
blinker==1.4
blis==0.7.4
boto==2.49.0
boto3==1.15.1
botocore==1.18.1
brotlipy==0.7.0
cachetools==4.1.1
catalogue==2.0.1
certifi==2020.12.5
cffi==1.14.2
chardet==3.0.4
cheroot==8.4.7
CherryPy==18.6.0
click==7.1.2
colorama==0.4.3
configparser==5.0.1
cryptography==3.1
cycler==0.10.0
cymem==1.31.2
Cython==0.29.14
cytoolz==0.9.0.1
decorator==4.4.2
defusedxml==0.6.0
dill==0.2.9
distro==1.5.0
docker-pycreds==0.4.0
docutils==0.15.2
en-core-web-sm==2.0.0
en-coref-md==3.0.0
entrypoints==0.3
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.3.3
gensim==3.8.3
gitdb==4.0.5
GitPython==3.1.11
google-auth==1.22.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googledrivedownloader==0.4
grpcio==1.31.0
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
inflect==4.1.0
iniconfig==0.0.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.16.0
jsonpickle==1.4.2
jsonschema==3.0.2
jupyter-client==6.1.7
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
Keras==2.2.4
Keras-Applications==1.0.8
keras-contrib==2.0.8
Keras-Preprocessing==1.1.1
kiwisolver==1.2.0
llvmlite==0.34.0
lxml==4.6.1
Markdown==3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
more-itertools==8.5.0
msgpack==0.6.2
msgpack-numpy==0.4.4
multidict==4.7.6
murmurhash==0.28.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
nltk==3.5
notebook==6.1.5
numba==0.51.2
numpy==1.18.5
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.1
pandocfilters==1.4.3
parso==0.7.0
pathtools==0.1.2
pathy==0.4.0
pickleshare==0.7.5
Pillow==7.2.0
pip==20.2.2
plac==0.9.6
pluggy==0.13.1
portend==0.0.0
preshed==1.0.1
prettytable==2.0.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.13.0
psutil==5.8.0
py==1.9.0
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.7.3
pydeck==0.6.1
pyerfa==1.7.2
Pygments==2.7.3
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==6.0.2
python-dateutil==2.8.1
pytz==2020.1
pyvis==0.1.8.2
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
regex==2020.11.13
repoze.lru==0.7
requests==2.24.0
requests-oauthlib==1.3.0
Routes==2.5.1
rsa==4.6
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.2
scipy==1.4.1
Send2Trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==0.20.2
seqeval==1.2.2
setuptools==52.0.0.post20210125
shortuuid==1.0.1
simplejson==3.17.2
simpletransformers==0.60.8
sip==4.19.13
six==1.15.0
smart-open==3.0.0
smmap==3.0.4
sortedcontainers==2.3.0
soupsieve==2.0.1
spacy==2.0.13
srsly==2.4.0
stanza==1.1.1
streamlit==0.76.0
subprocess32==3.5.4
tempora==0.0.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.6.0
tensorboardX==2.1
tensorflow==2.3.1
tensorflow-addons==0.12.1
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.1
tensorflow-gpu-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf2crf==0.1.24
thinc==6.10.3
threadpoolctl==2.1.0
tokenizers==0.10.1
toml==0.10.1
toolz==0.11.1
torch==1.7.1
torchaudio==0.7.2
torchvision==0.8.2
tornado==6.1
tqdm==4.48.2
traitlets==5.0.5
transformers==4.3.2
typeguard==2.10.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
ujson==4.0.1
urllib3==1.25.10
validators==0.18.2
waitress==1.4.4
wandb==0.10.19
wasabi==0.8.2
watchdog==1.0.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
wheel==0.35.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.1
yarl==1.6.0
zc.lockfile==2.0
zipp==3.1.0
